.catalog {
	padding: 0 27px;
	margin-bottom: 25px;
}

// PATH
.path {
	display: flex;
	align-items: center;

	margin-top: -300px;

	&__link {
		position: relative;
		line-height: 16px;
		
		color: #FFFFFF;
		text-decoration: underline 1.5px solid rgba(255, 255, 255, 0.2);

		margin-right: 20px;

		&::after {
			position: absolute;
			top: -1px;
			left: 60px;

	    content: url(../image/catalog/quote.svg);
		}
	}

	span {
		line-height: 16px;
		color: #FFFFFF
	}
}
// PATH END

.title {
	font-weight: bold;
	font-size: 35px;
	line-height: 41px;
	
	color: #FFFFFF;

	margin-bottom: 24px;
}

// FILTER
.filter {
	width: 80%;

	span {
		font-size: 16px;
		line-height: 18px;
		color: #fff;
	}

	&__form {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;	
	}

	&__name {
		display: block;
		line-height: 16px;
	
		color: #FFFFFF;

		margin: 0 0 6px 17px;
	}	

	// SORT
	&__sort {
		svg {
			position: absolute;
			top: 37px;
			left: 170px;
			cursor: pointer;
			fill: #fff;
		}
	}
 
	&__select {
		width: 196px;
		height: 36px;

		font-size: 16px;
		color: #fff;

		background: rgba(255, 255, 255, 0.2);
		border-radius: 20px;

		padding: 0 17px;

		appearance: none;
		-webkit-appearance: none;
  	-moz-appearance: none;

		cursor: pointer;



		option {
			color: #000;
		}
	}

	&__select:hover {
		color: #323232;
	}

	&__select:hover + svg path {
		fill:  #323232;
	}
	// SORT END



	&__price {}

	&__price-slider {
		display: flex;
		justify-content: center;

		width: 218px;
		height: 36px;

		background: rgba(255, 255, 255, 0.2);
		border-radius: 20px;
	}

	// FATNESS
	// FILLERS 
	.fatness-size {
		width: 425px;
		height: 36px;
	}

	.fillers-size {
		width: 711px;
		height: 36px;
	}

	&__features {}

	 &__features-inputs {
		// position: relative;
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		background: rgba(255, 255, 255, 0.2);
		border-radius: 20px;

		label {
			display: flex;
			position: relative;
			cursor: pointer;
			user-select: none;
		}

		input {
			position: absolute;
			cursor: pointer;
			width: 0;
			height: 0;
			z-index: -1;
			opacity: 0;
		}

		.fatness-check {
			width: 22px;
		  height: 22px;
		  flex: 0 0 auto;
		  border: 3.5px solid #fff;
		  opacity: 0.8;
		  border-radius: 50%;
		  margin-right: 11px;
		}

		.fatness-check:after {
	  	display: none;
			content: '';
			position: absolute;
	  	top: 7px;
		  left: 7px;
		  width: 8px;
		  height: 8px;
		  border-radius: 50%;
		  background: #fff;
		}

		.fillers-check {
			width: 20px;
		  height: 20px;
		  flex: 0 0 auto;
		  border: 1.8px solid #fff;
		  opacity: .8;
		  border-radius: 14%;
		  margin-right: 12px;
		}

		.fillers-check:after {
	  	display: none;
			content: url(../image/catalog/checkbox-on.svg);
			position: absolute;
			left: -0.5px;
			top: 0px;	  	
		}

		input:checked+.fatness-check:after {
			display: block;
		}

		input:hover+.fatness-check {
			opacity: 1;
		}


		input:checked+.fillers-check {
			border: none;
		}

		input:checked+.fillers-check:after {
			display: block;
		}

		input:hover+.fillers-check {
			opacity: 1;
		}


		span {
			display: inline-flex;
			align-items: center;
		}
	}
	// FILLERS END
	// FATNESS END

	
	&__button {
		width: 144px;
	  height: 36px;

	  font-size: 16px;
	  line-height: 18px;
	  color: #fff;

	  background: rgba(255, 255, 255, 0.2);
	  border: 2px solid #fff;
		border-radius: 20px;
	  
	  cursor: pointer;

	  margin-top: 5px;

	  &:hover {
	  	color: #323232;
	  	background: #fff;
	  }

	  &:active {
	  	box-shadow: inset 0px 2px 1px #696969;
	  	border: none;
	  }
	}
}

// FILTER END

.filter-move {
	margin: 0 15px 15px 0;
}


.page-slider {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 52px;
	
	padding: 0 27px;

	&__item {
		width: 26px;
		height: 26px;

		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 16px;
		line-height: 18px;
		

		color: #FFF;

		margin-right: 4px;


		&:active {
			border-radius: 50%;
			background: #FFF;

			color: #323232;
		}

		&:hover {
			border-radius: 50%;
			background: rgba(255, 255, 255, 0.2);
		}

		&:first-child {
			border-radius: 50%;
			background: #FFF;

			color: #323232;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}


