.nav {
	padding: 9px 27px 0;
	margin: 0 auto 280px;

	&__flex {
		display: flex;
		justify-content: space-between;
	}

	&__flex-1 {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__flex-2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__logo {
    margin-right: 11px;
	}

	&__entrance {
		position: relative;
		display: flex;
	}

	.item {
		display: flex;
		justify-content: center;
		align-items: center;

		/* Подложка */
		background: rgba(255, 255, 255, 0.2);
		border-radius: 20px;
		/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
		
		margin-left: 10px;
		cursor: pointer;
		height: 32px;

		&.active,
		&:hover {
			background: #F8F7F4;

			span {
				color: #000;
			}

			.nav__svg {
			 fill: #000;
			}	
		}
	}

	&__main-link {
		display: flex;
		align-items: center;

		span {
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: #FFFFFF;

			padding-left: 9px;
		}
	}

	&__search {
		width: 32px;
	}

	&__entry {
		width: 92px;
	}

	&__basket {
		width: 100px;
	}

	&__basket-container {
		display: none;
		position: relative;
		position: absolute;
		top: 36px;
		right: 0px;

		width: 539px;
		height: 242px;

		background: #F8F7F4;
		box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
		border-radius: 4px;

		z-index: 1;
	}

	&__feedback-container {
		display: none;
		position: fixed;
		top: 330px;
		right: calc(50% - 239px);

		width: 478px;
		height: 441px;

		background: #F8F7F4;
		box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
		border-radius: 4px;

		z-index: 3;

		padding: 23px;
	}

	
	/*_________________Скрытые формы_________________ */

	.input {
		background: #FFF;
		border: 1px solid #D3D3D2;
		border-radius: 4px;

		font-size: 14px;
		line-height: 16px;
		outline: 0;

		padding-left: 15px;

		&:hover {
			box-shadow: 0 0 1px 2px #d7d7d7;
		}
	}
	/* Search */



	&__search-form {
		position: absolute;
		top: 36px;
		right: 212px;

		width: 341px;
		height: 84px;

		display: none;
		justify-content: center;
		align-items: center;

		background: #F8F7F4;
		box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
		border-radius: 4px;

		z-index: 1;
	}

	&__search-input {
		width: 311px;
		height: 44px;
	}

	/* _______________________________*/
	/* Entry */

	&__entry-form {
		position: absolute;
		top: 36px;
		right: 110px;

		width: 277px;
		height: 214px;

		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		background: #F8F7F4;
		box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
		border-radius: 4px;

		z-index: 1;
	}

	&__entry-input { /* Здесь тоже не нужна ширина? */
		width: 241px;
		height: 44px;
	}

	&__entry-flex {
		width: 241px;
		display: flex;
		justify-content: space-between;
	}

	&__entry-links {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	&__entry-link {
		font-size: 13px;
		line-height: 15px;
		color: #323232;
		text-decoration: underline 1.5px solid rgba(255, 255, 255, 0.2);

		&:hover {
				color: #FFBC9E;
			}
	}

	&__entry-button {	
		line-height: 16px;
		padding: 14px 26px;
	}

	/* _______________________________*/
	/* Basket */

	&__basket-form {
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__basket-item {
		display: flex;
		height: 55%;
		align-items: center;

		font-size: 13px;
		line-height: 16px;

		& *:nth-child(1) {
			margin-right: 9px;
		}

		& *:nth-child(2) {
			margin-right: 14px;
		}

		& *:nth-child(3) {
			margin-right: 33px;
		}

	 & *:nth-child(4) {
			margin-right: 12px;
		}
 
		span {
			color:#D3D3D2
		}
	}

	&__basket-flex {
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-evenly;

		padding-right: 14px;
		
	/* Разделитель */
	 &:after {

			position: absolute;
			top: 130px;
			left: 14px;

			content: '';
			display: inline-block;
			width: 510px;
			height: 1px;

			background-color: #CACAC7;
		}
	}

	&__basket-price {
		display: flex;

		p {
			font-weight: bold;
			font-size: 15px;
			line-height: 16px;
			
			color: #323232;
		}
	}

	&__basket-button {	
		width: 172px;
		height: 44px;

		font-weight: bold;
		font-size: 18px;
		line-height: 16px;

		color: #FFFFFF;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		.item-time {
			font-weight: bold;
			font-size: 14px;
			line-height: 16px;
			
			color: #FFFFFF;

			margin-bottom: 8px;
		}

		.item-tel {
			font-weight: bold;
			font-size: 22px;
			line-height: 24px;
			
			color: #FFFFFF;
		}
	}

	/* _______________________________*/
	/* feedback */


	&__feedback {
		display: flex;
		flex-direction: column;
	}

	&__feedback-heading {
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
	
		color: #323232;

		margin-bottom: 24px
	}

	&__feedback-input {
		width: 267px;
		height: 44px;

		margin-bottom: 20px;
	}

	&__feedback-textarea {
		width: 428px;
		height: 154px;

		margin-bottom: 20px;

		padding: 15px

	}

	&__feedback-flex {
		display: flex;
		justify-content: flex-end;
	}

	&__feedback-button {
		width: 140px;
		height: 44px;
	}
}




.menu {
	position: relative;
	display: flex;
	z-index: 1;

	&__catalog:hover .link {
		color: #323232;
		
		background: #FFFFFF;
		border-radius: 26px;
	}

	&__catalog:hover .menu__submenu {
		display: block;
	}

	.link {
		display: inline-block;
		vertical-align: baseline;

		font-weight: bold;
		font-size: 16px;
		line-height: 18px;

		color: #FFFFFF;

		text-decoration: underline 1.5px solid rgba(255, 255, 255, 0.2);

		padding: 6px 13px;
		margin: 0 6px 8px 0;
		
		&:hover {
			color: #323232;
		
			background: #FFFFFF;
			border-radius: 26px;
		}
	}

	&__submenu {
		display: none;

		width: 143px;

		position: absolute;
		left: -4px;
		top: 34px;

		background: #FFFFFF;
		box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
		border-radius: 4px;

		/* padding: 0 20px; */
	}

	.link__submenu {
		display: flex;
		align-items: center;

		height: 27px;

		font-size: 14px;
		line-height: 16px;

		color: #323232;

		margin-top: 4.5px;
		padding-left: 20px;

		&:first-child {

			font-weight: bold;
			line-height: 18px;

			margin: 6px 0 6px 0;

			/* Разделитель */
			&:after {
				content: '';

				position: absolute;
				top: 35px;
				left: 7px;

				display: inline-block;
				width: 128px;
				height: 1px;

				background-color: rgba(50, 50, 50, 0.2);
			}
		}

		&:last-child {
			margin-bottom: 6px;
		}

		&:hover {
			background-color: #FBDED7;
		}

		&:active {
			background-color: #F6B5A5;
		}
	}
}