.nav {
	padding: 9px 27px 0;
	margin: 0 auto 280px;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 4;
	}

	&__work {
		display: flex;
		align-items: center;
	}

	&__logo {
    margin-right: 11px;
	}

	&__entrance {
		position: relative;
		display: flex;
	}

	.item {
		display: flex;
		justify-content: center;
		align-items: center;

		/* Подложка */
		background: rgba(255, 255, 255, 0.2);
		border-radius: 20px;
		
		margin-left: 10px;
		cursor: pointer;
		height: 32px;

		&.active {
			background: #F8F7F4;

			span {
				color: #000;
			}

			.nav__svg {
			 fill: #000;
			}

			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}

	.item-catalog {
		/* Подложка */
		background: #fff;
		border-radius: 20px;

		span {
			font-weight: 600;
			color: #000;
		}		
	}

	&__link {
		display: flex;
		align-items: center;

		span {
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: #FFFFFF;

			padding-left: 9px;
		}
	}

	&__search {
		width: 32px;
	}

	&__entry {
		width: 92px;
	}

	&__basket {
		width: 100px;
	}

	&__basket-catalog {
		width: 118px;
	}


	
	/*_________________Скрытые формы_________________ */
	/* Search */

	&__search-form {
		position: absolute;
		top: 36px;
		right: 212px;

		width: 341px;
		height: 84px;

		display: none;
		justify-content: center;
		align-items: center;

		background: #F8F7F4;
		box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
		border-radius: 4px;

		z-index: 1;
	}

	&__search-input {
		width: 311px;
		height: 44px;
	}

		//для страницы с каталогом
	&__search-form--move {
		right: 230px;
	}

	/* _______________________________*/
	/* Entry */

	&__entry-form {
		position: absolute;
		top: 36px;
		right: 110px;

		width: 277px;
		height: 214px;

		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		background: #F8F7F4;
		box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
		border-radius: 4px;

		z-index: 1;
	}

	&__entry-input { 
		width: 241px;
		height: 44px;
	}

	&__entry-flex {
		width: 241px;
		display: flex;
		justify-content: space-between;
	}

	&__entry-links {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	&__entry-link {
		font-size: 13px;
		line-height: 15px;
		color: #323232;
		text-decoration: underline 1.5px solid rgba(255, 255, 255, 0.2);

		&:hover {
				color: #FFBC9E;
			}
	}

	&__entry-button {	
		line-height: 16px;
		padding: 14px 26px;
	}
		//для страницы с каталогом
	&__entry-form--move {
		right: 126px;
	}

	/* _______________________________*/
	/* Basket */

	&__basket-container {
		display: none;
		position: relative;
		position: absolute;
		top: 36px;
		right: 0px;

		width: 539px;
		height: 242px;

		background: #F8F7F4;
		box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
		border-radius: 4px;

		z-index: 1;
	}


	&__basket-form {
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__basket-item {
		display: flex;
		height: 55%;
		align-items: center;

		font-size: 13px;
		line-height: 16px;

		& *:nth-child(1) {
			margin-right: 9px;
		}

		& *:nth-child(2) {
			margin-right: 14px;
		}

		& *:nth-child(3) {
			margin-right: 33px;
		}

	 	& *:nth-child(4) {
			margin-right: 12px;
		}
 
		span {
			color:#D3D3D2
		}
	}

	&__basket-flex {
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-evenly;

		padding-right: 14px;
		
	/* Разделитель */
	 &::after {

			position: absolute;
			top: 130px;
			left: 14px;

			content: '';
			display: inline-block;
			width: 510px;
			height: 1px;

			background-color: #CACAC7;
		}
	}

	&__basket-price {
		display: flex;

		p {
			font-weight: bold;
			font-size: 15px;
			line-height: 16px;
			
			color: #323232;
		}
	}

	&__basket-button {	
		width: 172px;
		height: 44px;

		font-weight: bold;
		font-size: 18px;
		line-height: 16px;

		color: #FFFFFF;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		.item-time {
			font-weight: bold;
			font-size: 14px;
			line-height: 16px;
			
			color: #FFFFFF;

			margin-bottom: 8px;
		}

		.item-tel {
			font-weight: bold;
			font-size: 22px;
			line-height: 24px;
			
			color: #FFFFFF;
		}
	}
}


.menu {
	position: relative;
	display: flex;
	z-index: 1;

	&__link {
		display: block;
		
		font-weight: bold;
		font-size: 16px;
		line-height: 18px;

		padding: 6px 13px;
		margin-right: 6px;

		color: #FFFFFF;

		text-decoration: underline 1.5px solid rgba(255, 255, 255, 0.2);
	}

	.link-catalog {
		color: #fff;
		background: #D07058;
		border-radius: 26px;
		text-decoration: none;
	}

	&__submenu {
		display: none;

		width: 143px;

		position: absolute;
		left: -4px;
		top: 34px;

		background: #FFFFFF;
		box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
		border-radius: 4px;
	}

	.link__submenu {
		display: flex;
		align-items: center;

		height: 27px;

		font-size: 14px;
		line-height: 16px;

		color: #323232;

		margin-top: 4.5px;
		padding-left: 20px;

		&:first-child {

			font-weight: bold;
			line-height: 18px;

			margin: 6px 0 6px 0;

			/* Разделитель */
			&::after {
				content: '';

				position: absolute;
				top: 30px;
				left: 7px;

				display: inline-block;
				width: 128px;
				height: 1px;

				background-color: rgba(50, 50, 50, 0.2);
			}
		}

		//скрытие при наведении полоски после "Новинок"
		&:first-child:hover::after {
			display: none;
		}

		&:last-child {
			margin-bottom: 6px;
		}

		&:hover {
			background-color: #FBDED7;
			border-radius: 4px;
		}

		&:active {
			background-color: #F6B5A5;
		}
	}

	.link__submenu-active {
		color: #fff;
		background-color: #D07058;

		&:hover, 
		&:active {
			background-color: #D07058;
		}

	}

	//Подложка под ссылку "Каталог"
	.link-js-active {
		color: #323232;
		
		background: #FFFFFF;
		border-radius: 26px;
	}
}
