.news {
	padding: 0 27px;
	margin-bottom: 40px;

	&__cards {
		display: flex;
		justify-content: space-between;
		margin: 0 -13px;
	}

	&__card-left {
		background: url(../image/main/main/news/strawb_bg.png) 0 0/contain no-repeat;

		flex-basis: 50%;
		margin: 0 13px; 

		min-height: 220px;
		padding: 16px 20px;
		background-size: cover; 
		border-radius: 16px;

		.news__title {
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
			color: #323232;

			margin-bottom: 4px;
		}

		.news__link {
			display: inline-block;
			font-weight: bold;
			font-size: 24px;
			line-height: 30px;
			color: #323232;

			text-decoration: underline;

			&:hover {
				color: #E84D37;
			}
		}
	}

	&__card-right {
		flex-basis: 50%;
		margin: 0 13px;
		min-height: 220px;
		z-index: 1;

		.news__inner {
			background-color: rgb(248, 247, 244);
			padding: 28px 20px;

			// тут пошёл хак для бордера
			position: relative;
			border-radius: 16px;
			border: 6px solid transparent; 
			background-clip: padding-box;

			// это и есть цветной "бордер" на ксс, а на самом деле полосатый фон - подложка
			&::before {
				content: '';
				position: absolute; 

				top: -6px;
				bottom: -6px;
				left: -6px;
				right: -6px;

				background: repeating-linear-gradient(-45deg, #fff 0 7px, #8ecefb 7px 14px, #fff 14px 21px, #ff9d93 21px 28px); // это и есть цветные повторяющиеся колоски 4 штуки: белая голубая белая розовая и так по кругу
				border-radius: 16px;
				z-index: -1;
			}
		}

		.news__text {
			font-weight: normal;
			font-size: 16px;
			line-height: 22px;
			/* or 137% */
			color: #5A5A5A;

			margin-bottom: 40px;
		}
	}
}


/* форма */
.news {
	&__subscribe {
	}

	&__form {
		display: flex;
	}

	&__input {
		line-height: 42px;
		background: #fff;
		border: 1px solid rgba(178, 178, 178, 0.52);
		border-radius: 6px;

		padding: 0 14px;

		flex-grow: 1;
		margin-right: 10px;

		&:hover {
			outline: 2px solid rgba(178, 178, 178, 0.52);
		}
	}

	&__button {
		padding: 0 22px;
	}
}